@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css";
/*===========================================================================================//
  GHOSTLY - A FRAMEWORK THAT DOESN'T APPEAR TO BE THERE
  VER - 0.0

  The framework is used by dropping less mixins into classes so that your HTML isn't cluttered up,
  to make this easier to understand then the framework has modules that you can load in by 
  uncommenting them.
//===========================================================================================*/
/*========================================//
	COLOURS - USE THIS TO CREATE YOUR COLOUR 
	PALLETE AND THEN USE IT WHERE NEEDED
//========================================*/
/*==============================================//
  TYPOGRAPHIC STYLES - Use the settings to quickly 
  change the font styles and colours
//==============================================*/
/*---------------Typography Configs--------------------*/
/*---------------End of Config--------------------*/
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  line-height: 1.5em;
  color: #666;
}
body {
  font-family: "source-sans-pro", sans-serif;
  font-size: 16px;
  color: #666666;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
p {
  line-height: 1.5em;
  font-weight: 400;
  margin: 24px 0;
  padding: 0 0 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #444444;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1 {
  font-size: 3.157em;
  line-height: 1em;
  margin: 0.4751346214760849em 0;
}
h2 {
  font-size: 2.369em;
  line-height: 0.6331785563528914em;
  margin: 0.6331785563528914em 0;
}
h3 {
  font-size: 1.777em;
  line-height: 0.8441193021947102em;
  margin: 0.8441193021947102em 0;
}
h4 {
  font-size: 1.333em;
  line-height: 1.1252813203300827em;
  margin: 1.1252813203300827em 0;
}
h5 {
  font-size: 18px;
  line-height: 1.125em;
  margin-bottom: 1.125em;
}
h6 {
  font-size: 16px;
  line-height: 1.125em;
  margin-bottom: 1.125em;
}
blockquote {
  border-left: 5px solid #009fe3;
  padding-left: 20px;
}
cite {
  font-size: 0.8em;
  color: #777;
}
ul,
ol {
  margin: 0 25px;
  padding: 0 24px;
}
li {
  line-height: 1.5em;
}
/*===============================================//
	STYLINGS FOR LINKS
//==============================================*/
a {
  text-decoration: none;
  color: #17a6ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:visited {
  color: #008ab0;
}
a:hover {
  color: #fff;
  background: #009fe3;
}
a:active {
  color: #fff;
  background: #4aabff;
}
/*========================================//
	TABLES - These contain a defualt styling 
	and then mixins that further chnage the 
	look of them
//========================================*/
table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 24px;
}
table thead {
  width: 100%;
  border-bottom: 1px solid transparent;
}
table td {
  text-align: center;
  padding: 10px;
}
table th {
  padding: 10px;
  font-weight: 700;
}
/*===============================================//
	STYLINGS FOR FORM ELEMENTS
//==============================================*/
input,
label,
textarea {
  font-size: 16px;
  font-family: "source-sans-pro", sans-serif;
  margin: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  color: #444;
  outline: none;
  line-height: 1.5em;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #009fe3;
}
input[type="submit"],
button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="submit"]:hover,
button:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
input[type="submit"]:visited,
button:visited {
  color: #fff;
}
input[type="submit"] i,
button i {
  line-height: 1.5em;
}
label {
  padding: 10px 20px;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
select {
  padding: 10px;
  margin: 0 5px 0 0;
  color: #666666;
  position: relative;
  top: -1px;
}
/*========================================//
	BUTTON STYLES
//========================================*/
/*===============================================//
	OBJECT ABSTRACTIONS -
	These will be made in less but pop them into 
	classes if you need to use them
//==============================================*/
/*========================================//
	NAVIGATION STYLES
//========================================*/
.wrapper {
  width: 83.33333333333334%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 8.333333333333334%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.main {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar {
  margin-top: 27px;
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.box {
  width: 33.333333333333336%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
.full {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.half {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
}
.third {
  width: 33.333333333333336%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
}
.pallette {
  width: 66.66666666666667%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 16.666666666666668%;
  padding-bottom: 24px;
}
.pallette:before,
.pallette:after {
  content: " ";
  display: table;
}
.pallette:after {
  clear: both;
}
.colour-block {
  width: 20%;
  padding-top: 20%;
  float: left;
}
.light {
  background: #4aabff;
}
.lighter {
  background: #17a6ff;
}
.blue {
  background: #009fe3;
}
.dark {
  background: #008ab0;
}
.darker {
  background: #006c7d;
}
.striped tbody tr:nth-child(odd) {
  background: #f0f0f0;
}
.classic {
  border: 2px solid #f0f0f0;
}
.classic td,
.classic th {
  border: 2px solid #f0f0f0;
}
.classic-horizontal {
  border-bottom: 1px solid #f0f0f0;
}
.classic-horizontal th {
  border-bottom: 2px solid #f0f0f0;
}
.classic-horizontal td {
  border-bottom: 1px solid #f0f0f0;
  color: #999;
}
.classic-horizontal tr:hover td {
  color: #666;
  background: #f0f0f0;
}
.contrast {
  border: 2px solid #f0f0f0;
}
.contrast thead {
  background: #4aabff;
}
.contrast th {
  color: #fff;
  border: 2px solid #fff;
}
.contrast td {
  border: 2px solid #f0f0f0;
}
.contrast th,
.contrast td {
  width: 25%;
}
.pricing {
  border: 2px solid #ddd;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  background: #f0f0f0;
}
.pricing th,
.pricing td {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 24px 10px;
}
.pricing th {
  font-size: 1.333em;
}
.pricing th,
.pricing td {
  width: 25%;
}
.input-icon {
  position: relative;
  width: 100%;
}
.input-icon:before,
.input-icon:after {
  content: " ";
  display: table;
}
.input-icon:after {
  clear: both;
}
.input-icon input,
.input-icon span {
  float: left;
  display: block;
}
.input-icon input[type="text"],
.input-icon input[type="tel"],
.input-icon input[type="search"],
.input-icon input[type="email"],
.input-icon input[type="password"],
.input-icon textarea {
  width: 100%;
  padding-left: 41px;
}
.input-icon input[type="text"]:focus ~ span i,
.input-icon input[type="tel"]:focus ~ span i,
.input-icon input[type="search"]:focus ~ span i,
.input-icon input[type="email"]:focus ~ span i,
.input-icon input[type="password"]:focus ~ span i,
.input-icon textarea:focus ~ span i {
  color: #009fe3;
}
.input-icon span {
  text-align: center;
  padding: 14px 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.input-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.input-button:before,
.input-button:after {
  content: " ";
  display: table;
}
.input-button:after {
  clear: both;
}
.input-button input {
  float: left;
  display: block;
}
.input-button input[type="submit"] {
  float: left;
}
.vertical label,
.vertical input,
.vertical textarea {
  display: block;
  width: 100%;
}
.vertical label {
  padding-left: 0;
}
.vertical input {
  margin-bottom: 10px;
}
.vertical input[type="submit"] {
  margin-top: 24px;
  display: inline-block;
  width: auto;
}
.vertical textarea {
  max-width: 100%;
}
.horizontal .form-group {
  display: block;
  width: 100%;
  margin: 24px 0;
}
.horizontal .form-group:before,
.horizontal .form-group:after {
  content: " ";
  display: table;
}
.horizontal .form-group:after {
  clear: both;
}
.horizontal label {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding: 15px 20px;
}
.horizontal input[type="text"],
.horizontal input[type="tel"],
.horizontal input[type="search"],
.horizontal input[type="email"],
.horizontal .input-icon,
.horizontal textarea {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal .input-icon input[type="text"],
.horizontal .input-icon input[type="tel"],
.horizontal .input-icon input[type="search"],
.horizontal .input-icon input[type="email"],
.horizontal .input-icon textarea {
  width: 100%;
}
.horizontal input[type="submit"] {
  margin-left: 25%;
}
.inline .input-icon {
  width: 33.333333333333336%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px;
}
.default-button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 10px 20px;
}
.primary-button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.primary-button:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.primary-button:visited {
  color: #fff;
}
.primary-button i {
  line-height: 1.5em;
}
.secondary-button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #333333;
  color: #fff;
  background: #333333;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.secondary-button:hover {
  background: #666666;
  border: 1px solid #666666;
}
.secondary-button:visited {
  color: #fff;
}
.secondary-button i {
  line-height: 1.5em;
}
.cancel-button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #df151a;
  color: #fff;
  background: #df151a;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.cancel-button:hover {
  background: #f1696c;
  border: 1px solid #f1696c;
}
.cancel-button:visited {
  color: #fff;
}
.cancel-button i {
  line-height: 1.5em;
}
.button-small {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
}
.button-small:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-small:visited {
  color: #fff;
}
.button-small i {
  line-height: 1.5em;
}
.button-normal {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
.button-normal:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-normal:visited {
  color: #fff;
}
.button-normal i {
  line-height: 1.5em;
}
.button-large {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
}
.button-large:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-large:visited {
  color: #fff;
}
.button-large i {
  line-height: 1.5em;
}
.button-third {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  width: 33.333333333333336%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
}
.button-third:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-third:visited {
  color: #fff;
}
.button-third i {
  line-height: 1.5em;
}
.button-half {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
}
.button-half:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-half:visited {
  color: #fff;
}
.button-half i {
  line-height: 1.5em;
}
.button-three-quarters {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  display: block;
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
}
.button-three-quarters:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-three-quarters:visited {
  color: #fff;
}
.button-three-quarters i {
  line-height: 1.5em;
}
.button-dropdown {
  position: relative;
}
.button-dropdown .button {
  position: relative;
}
.button-dropdown .button:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d7";
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.button-dropdown ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 80%;
  border: 1px solid #eee;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  background: #fff;
  z-index: 1000;
}
.button-dropdown ul li {
  list-style-type: none;
}
.button-dropdown ul li.divider {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 5px 0;
}
.button-dropdown ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.button-dropdown ul li a:hover {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: #666;
  color: #fff;
}
.button-dropdown.active ul {
  opacity: 1;
  display: block;
  top: 100%;
}
.button-dropdown ul {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.button-group {
  margin: 10px;
}
.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group > .button,
.button-group > .button-dropdown,
.button-group > .button-group {
  float: left;
}
.button-group ul {
  width: 200%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-nav {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.inline-nav:before,
.inline-nav:after {
  content: " ";
  display: table;
}
.inline-nav:after {
  clear: both;
}
.inline-nav > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.inline-nav > li a {
  display: block;
}
.inline-nav > li {
  float: left;
}
.inline-nav > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.block-nav {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.block-nav:before,
.block-nav:after {
  content: " ";
  display: table;
}
.block-nav:after {
  clear: both;
}
.block-nav > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.block-nav > li a {
  display: block;
}
.block-nav > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-bar {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #eee;
}
.nav-bar:before,
.nav-bar:after {
  content: " ";
  display: table;
}
.nav-bar:after {
  clear: both;
}
.nav-bar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav-bar > li a {
  display: block;
}
.nav-bar > li {
  float: left;
}
.nav-bar > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-bar:before,
.nav-bar:after {
  content: " ";
  display: table;
}
.nav-bar:after {
  clear: both;
}
.nav-bar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav-bar > li a {
  display: block;
}
.nav-bar > li {
  float: left;
}
.nav-bar > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-bar > li a {
  text-align: center;
  color: #666;
  padding: 10px 20px;
}
.nav-bar > li a:hover {
  color: #fff;
}
.menu-block {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
}
.menu-block:before,
.menu-block:after {
  content: " ";
  display: table;
}
.menu-block:after {
  clear: both;
}
.menu-block > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menu-block > li a {
  display: block;
}
.menu-block > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-block:before,
.menu-block:after {
  content: " ";
  display: table;
}
.menu-block:after {
  clear: both;
}
.menu-block > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menu-block > li a {
  display: block;
}
.menu-block > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-block > li a {
  color: #666;
}
.menu-block > li a:hover {
  color: #fff;
}
.menu-block li a {
  text-align: center;
}
.nav-tabs {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-bottom: 1px solid #ccc;
}
.nav-tabs:before,
.nav-tabs:after {
  content: " ";
  display: table;
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav-tabs > li a {
  display: block;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-tabs:before,
.nav-tabs:after {
  content: " ";
  display: table;
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav-tabs > li a {
  display: block;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li a {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-tabs .button-dropdown {
  top: 1px;
}
.nav-tabs .button-dropdown ul {
  width: 200%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-tabs > li {
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  margin: 0 3px;
  position: relative;
  top: 2px;
}
.nav-tabs > li a {
  padding: 10px 20px;
}
.nav-tabs > li.active {
  color: #666;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
