@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css";
/*===========================================================================================//
  GHOSTLY - A FRAMEWORK THAT DOESN'T APPEAR TO BE THERE
  VER - 0.0

  The framework is used by dropping less mixins into classes so that your HTML isn't cluttered up,
  to make this easier to understand then the framework has modules that you can load in by 
  uncommenting them.
//===========================================================================================*/
/*========================================//
	COLOURS - USE THIS TO CREATE YOUR COLOUR 
	PALLETE AND THEN USE IT WHERE NEEDED
//========================================*/
/*==============================================//
  TYPOGRAPHIC STYLES - Use the settings to quickly 
  change the font styles and colours
//==============================================*/
/*---------------Typography Configs--------------------*/
/*---------------End of Config--------------------*/
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  line-height: 1.5em;
  color: #666;
}
body {
  font-family: "source-sans-pro", sans-serif;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
p {
  line-height: 1.5em;
  font-weight: 300;
  margin: 0 0 24px 0;
  padding: 0 0 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #444444;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1 {
  font-size: 65.53600000000002px;
  line-height: 1em;
  margin: 36px 0 12px 0;
}
h2 {
  font-size: 40.96000000000001px;
  line-height: 1.3em;
  margin: 36px 0 12px 0;
}
h3 {
  font-size: 25.6px;
  line-height: 1.3em;
  margin: 36px 0 12px 0;
}
h4 {
  font-size: 25.6px;
  line-height: 1.5em;
  margin: 36px 0 12px 0;
}
h5 {
  font-size: 18px;
  line-height: 1.125em;
  margin-bottom: 1.125em;
}
h6 {
  font-size: 16px;
  line-height: 1.125em;
  margin-bottom: 1.125em;
}
blockquote {
  border-left: 5px solid #009fe3;
  padding-left: 20px;
}
cite {
  font-size: 0.8em;
  color: #777;
}
ul,
ol {
  margin: 0 25px 24px 25px;
  padding: 0 24px;
}
li {
  line-height: 1.5em;
}
/*===============================================//
	STYLINGS FOR LINKS
//==============================================*/
a {
  text-decoration: none;
  color: #17a6ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:visited {
  color: #008ab0;
}
a:hover {
  color: #fff;
  background: #009fe3;
}
a:active {
  color: #fff;
  background: #4aabff;
}
/*========================================//
	TABLES - These contain a defualt styling 
	and then mixins that further chnage the 
	look of them
//========================================*/
table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 24px;
}
table thead {
  width: 100%;
  border-bottom: 1px solid transparent;
}
table td {
  text-align: center;
  padding: 10px;
}
table th {
  padding: 10px;
  font-weight: 700;
}
/*===============================================//
	STYLINGS FOR FORM ELEMENTS
//==============================================*/
input,
label,
textarea {
  font-size: 16px;
  font-family: "source-sans-pro", sans-serif;
  margin: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  color: #444;
  outline: none;
  line-height: 1.5em;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #009fe3;
}
input[type="submit"],
button,
input[type="button"] {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="submit"]:hover,
button:hover,
input[type="button"]:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
input[type="submit"]:visited,
button:visited,
input[type="button"]:visited {
  color: #fff;
}
input[type="submit"] i,
button i,
input[type="button"] i {
  line-height: 1.5em;
}
input[type="submit"]:hover,
button:hover,
input[type="button"]:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
input[type="submit"]:visited,
button:visited,
input[type="button"]:visited {
  color: #fff;
}
input[type="submit"] i,
button i,
input[type="button"] i {
  line-height: 1.5em;
}
label {
  padding: 10px 20px;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
select {
  padding: 10px;
  margin: 0 5px 0 0;
  color: #666666;
  position: relative;
  top: -1px;
}
/*========================================//
	BUTTON STYLES
//========================================*/
.button-normal {
  font-size: 16px;
  padding: 10px 20px;
}
.button-large {
  font-size: 20px;
  padding: 10px 20px;
}
/*===============================================//
	OBJECT ABSTRACTIONS -
	These will be made in less but pop them into 
	classes if you need to use them
//==============================================*/
/*========================================//
	NAVIGATION STYLES
//========================================*/
.filter-area {
  display: none;
}
@-webkit-keyframes spin-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin-animation {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
.row {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.quarter {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.third {
  width: 33.333333333333336%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.half {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.two-thirds {
  width: 66.66666666666667%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.three-quarters {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.full {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 83.33333333333334%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 8.333333333333334%;
  padding: 20px 0;
}
.hero {
  background: #009fe3;
  padding: 20px;
}
.hero h1 {
  color: #fff;
  text-align: center;
  margin: 24px 0;
}
.wrapper p,
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4 {
  padding-left: 10px;
  padding-right: 10px;
}
.input-prepend {
  position: relative;
}
.input-prepend:before,
.input-prepend:after {
  content: " ";
  display: table;
}
.input-prepend:after {
  clear: both;
}
.input-prepend input,
.input-prepend textarea {
  float: left;
  display: block;
}
.input-prepend .add-on {
  display: block;
  float: left;
}
.input-prepend button.add-on,
.input-prepend input[type="submit"].add-on,
.input-prepend .button.add-on,
.input-prepend .button-primary.add-on,
.input-prepend .button-secondary.add-on,
.input-prepend .button-cancel-add-on {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend i.add-on {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 15px 13px 15px;
  z-index: 100;
}
.input-prepend i.add-on + input,
.input-prepend i.add-on + textarea {
  padding-left: 40px;
}
.input-prepend .dropdown {
  float: left;
}
.input-prepend .dropdown > .button-secondary,
.input-prepend .dropdown > .button,
.input-prepend .dropdown > .button-primary,
.input-prepend .dropdown > .button-cancel {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding: 9px 20px 10px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.input-prepend label {
  float: left;
  padding: 15px 20px;
}
.input-append {
  position: relative;
}
.input-append:before,
.input-append:after {
  content: " ";
  display: table;
}
.input-append:after {
  clear: both;
}
.input-append input,
.input-append textarea {
  float: left;
  display: block;
}
.input-append .add-on {
  float: left;
}
.input-append button.add-on,
.input-append input[type="submit"].add-on,
.input-append .button.add-on,
.input-append .button-primary.add-on,
.input-append .button-secondary.add-on,
.input-append .button-cancel-add-on {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append i.add-on {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 15px 13px 15px;
  z-index: 100;
}
.input-append i.add-on + input,
.input-append i.add-on + textarea {
  padding-left: 40px;
}
.input-append .dropdown {
  float: left;
}
.input-append .dropdown > .button-secondary,
.input-append .dropdown > .button,
.input-append .dropdown > .button-primary,
.input-append .dropdown > .button-cancel {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  padding: 9px 20px 10px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.input-append label {
  float: left;
  padding: 15px 20px;
}
.input-group {
  display: block;
  width: 100%;
  margin: 24px 0;
}
.input-group:before,
.input-group:after {
  content: " ";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group label {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding: 15px 20px;
}
.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="search"],
.input-group input[type="email"],
.input-group .input-prepend,
.input-group .input-append,
.input-group textarea,
.input-group input[type="password"] {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.input-group input[type="submit"],
.input-group button,
.input-group input[type="button"] {
  margin-left: 25%;
}
.horizontal-form .input-group {
  display: block;
  width: 100%;
  margin: 24px 0;
}
.horizontal-form .input-group:before,
.horizontal-form .input-group:after {
  content: " ";
  display: table;
}
.horizontal-form .input-group:after {
  clear: both;
}
.horizontal-form label {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding: 15px 20px;
}
.horizontal-form input[type="text"],
.horizontal-form input[type="tel"],
.horizontal-form input[type="search"],
.horizontal-form input[type="email"],
.horizontal-form .input-prepend,
.horizontal-form .input-append,
.horizontal-form textarea,
.horizontal-form input[type="password"] {
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-form .input-append input[type="text"],
.horizontal-form .input-prepend input[type="text"],
.horizontal-form .input-append input[type="tel"],
.horizontal-form .input-prepend input[type="tel"],
.horizontal-form .input-append input[type="search"],
.horizontal-form .input-prepend input[type="search"],
.horizontal-form .input-append input[type="email"],
.horizontal-form .input-prepend input[type="email"],
.horizontal-form .input-append textarea,
.horizontal-form .input-prepend textarea,
.horizontal-form .input-append input[type="password"],
.horizontal-form .input-prepend input[type="password"] {
  width: 100%;
}
.horizontal-form input[type="submit"],
.horizontal-form button,
.horizontal-form input[type="button"] {
  margin-left: 25%;
}
.horizontal-form .input-group .input-append {
  position: relative;
}
.horizontal-form .input-group .input-append:before,
.horizontal-form .input-group .input-append:after {
  content: " ";
  display: table;
}
.horizontal-form .input-group .input-append:after {
  clear: both;
}
.horizontal-form .input-group .input-append input,
.horizontal-form .input-group .input-append textarea {
  display: block;
  width: 75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-form .input-group .input-append .add-on {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-form .input-group .input-append button.add-on,
.horizontal-form .input-group .input-append input[type="submit"].add-on,
.horizontal-form .input-group .input-append .button.add-on,
.horizontal-form .input-group .input-append .button-primary.add-on,
.horizontal-form .input-group .input-append .button-secondary.add-on,
.horizontal-form .input-group .input-append .button-cancel-add-on {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.horizontal-form .input-group .input-append i.add-on {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 15px 13px 15px;
  z-index: 100;
}
.horizontal-form .input-group .input-append i.add-on + input,
.horizontal-form .input-group .input-append i.add-on + textarea {
  padding-left: 40px;
}
.horizontal-form .input-group .input-append .dropdown {
  float: left;
}
.horizontal-form .input-group .input-append .dropdown > .button-secondary,
.horizontal-form .input-group .input-append .dropdown > .button,
.horizontal-form .input-group .input-append .dropdown > .button-primary,
.horizontal-form .input-group .input-append .dropdown > .button-cancel {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  padding: 9px 20px 10px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-form .input-group .input-append label {
  float: left;
  padding: 15px 20px;
}
.buttons {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.buttons .button {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
}
.buttons .button:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.buttons .button:visited {
  color: #fff;
}
.buttons .button i {
  line-height: 1.5em;
}
.buttons .button:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.buttons .button:visited {
  color: #fff;
}
.buttons .button i {
  line-height: 1.5em;
}
.modal,
.modal-warning {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  height: 450px;
  margin: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
  opacity: 0;
  z-index: 2000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .modal-title,
.modal-warning .modal-title {
  position: relative;
}
.modal .modal-title span,
.modal-warning .modal-title span {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}
.modal .modal-title i,
.modal-warning .modal-title i {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 20px 20px;
  color: #999;
  text-align: center;
  cursor: pointer;
}
.modal .modal-title i:hover,
.modal-warning .modal-title i:hover {
  color: #009fe3;
}
.modal.show,
.modal-warning.show {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.modal.show ~ .modal-overlay,
.modal-warning.show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}
.modal-warning .modal-title span {
  background: #F54828;
  color: #fff;
}
.modal-warning .modal-title i {
  color: #fff;
}
.modal-warning .modal-title i:hover {
  color: #333;
}
.modal-overlay {
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1000;
}
.button-primary {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #009fe3;
  color: #fff;
  background: #009fe3;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
}
.button-primary:hover {
  background: #17baff;
  border: 1px solid #17baff;
}
.button-primary:visited {
  color: #fff;
}
.button-primary i {
  line-height: 1.5em;
}
.button-secondary {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #88c425;
  color: #fff;
  background: #88c425;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
}
.button-secondary:hover {
  background: #b6e36c;
  border: 1px solid #b6e36c;
}
.button-secondary:visited {
  color: #fff;
}
.button-secondary i {
  line-height: 1.5em;
}
.button-cancel {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0 0;
  border: 1px solid #df151a;
  color: #fff;
  background: #df151a;
  -webkit-appearance: none;
  font-weight: normal;
  font-family: "source-sans-pro", sans-serif;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
}
.button-cancel:hover {
  background: #f1696c;
  border: 1px solid #f1696c;
}
.button-cancel:visited {
  color: #fff;
}
.button-cancel i {
  line-height: 1.5em;
}
.button-small {
  font-size: 12px;
  padding: 10px;
}
.button-normal {
  font-size: 16px;
  padding: 10px 20px;
}
.button-large {
  font-size: 20px;
  padding: 10px 20px;
}
.dropdown {
  position: relative;
}
.dropdown > a,
.dropdown > .button,
.dropdown > .button-primary,
.dropdown > .button-secondary,
.dropdown > .button-cancel {
  position: relative;
}
.dropdown > a:after,
.dropdown > .button:after,
.dropdown > .button-primary:after,
.dropdown > .button-secondary:after,
.dropdown > .button-cancel:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d7";
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul {
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
  position: absolute;
  top: 80%;
  border: 1px solid #eee;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  background: #fff;
  z-index: 1000;
}
.dropdown > ul li {
  list-style-type: none;
}
.dropdown > ul li.divider {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 5px 0;
}
.dropdown > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 300;
}
.dropdown > ul li a:hover {
  background: #eee;
  color: #444;
}
.dropdown > ul .dropdown {
  position: relative;
}
.dropdown > ul .dropdown > a,
.dropdown > ul .dropdown > .button,
.dropdown > ul .dropdown > .button-primary,
.dropdown > ul .dropdown > .button-secondary,
.dropdown > ul .dropdown .button-cancel {
  position: relative;
}
.dropdown > ul .dropdown > a:after,
.dropdown > ul .dropdown > .button:after,
.dropdown > ul .dropdown > .button-primary:after,
.dropdown > ul .dropdown > .button-secondary:after,
.dropdown > ul .dropdown .button-cancel:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0da";
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul .dropdown ul {
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
  position: absolute;
  top: -5px;
  left: 80%;
  border: 1px solid #eee;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  background: #fff;
  z-index: 1000;
}
.dropdown > ul .dropdown ul li {
  list-style-type: none;
}
.dropdown > ul .dropdown ul li.divider {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 5px 0;
}
.dropdown > ul .dropdown ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 300;
}
.dropdown > ul .dropdown ul li a:hover {
  background: #eee;
  color: #444;
}
.dropdown > ul .dropdown:hover > ul {
  opacity: 1;
  display: block;
  left: 100%;
}
.dropdown > ul .dropdown-left > a,
.dropdown > ul .dropdown-left > .button,
.dropdown > ul .dropdown-left > .button-primary,
.dropdown > ul .dropdown-left > .button-secondary,
.dropdown > ul .dropdown-left .button-cancel {
  position: relative;
}
.dropdown > ul .dropdown-left > a:before,
.dropdown > ul .dropdown-left > .button:before,
.dropdown > ul .dropdown-left > .button-primary:before,
.dropdown > ul .dropdown-left > .button-secondary:before,
.dropdown > ul .dropdown-left .button-cancel:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d9";
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul .dropdown-left > a:after,
.dropdown > ul .dropdown-left > .button:after,
.dropdown > ul .dropdown-left > .button-primary:after,
.dropdown > ul .dropdown-left > .button-secondary:after,
.dropdown > ul .dropdown-left .button-cancel:after {
  display: none;
}
.dropdown > ul .dropdown-left > ul {
  left: -100% !important;
}
.dropdown > ul .dropdown-left > ul .dropdown > a,
.dropdown > ul .dropdown-left > ul .dropdown > .button,
.dropdown > ul .dropdown-left > ul .dropdown > .button-primary,
.dropdown > ul .dropdown-left > ul .dropdown > .button-secondary,
.dropdown > ul .dropdown-left > ul .dropdown .button-cancel {
  position: relative;
}
.dropdown > ul .dropdown-left > ul .dropdown > a:before,
.dropdown > ul .dropdown-left > ul .dropdown > .button:before,
.dropdown > ul .dropdown-left > ul .dropdown > .button-primary:before,
.dropdown > ul .dropdown-left > ul .dropdown > .button-secondary:before,
.dropdown > ul .dropdown-left > ul .dropdown .button-cancel:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d9";
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul .dropdown-left > ul .dropdown > a:after,
.dropdown > ul .dropdown-left > ul .dropdown > .button:after,
.dropdown > ul .dropdown-left > ul .dropdown > .button-primary:after,
.dropdown > ul .dropdown-left > ul .dropdown > .button-secondary:after,
.dropdown > ul .dropdown-left > ul .dropdown .button-cancel:after {
  display: none;
}
.dropdown > ul .dropdown-left > ul .dropdown > ul {
  left: -100% !important;
}
.dropdown > ul .dropdown-right > a,
.dropdown > ul .dropdown-right > .button,
.dropdown > ul .dropdown-right > .button-primary,
.dropdown > ul .dropdown-right > .button-secondaryt,
.dropdown > ul .dropdown-right > .button-cancel {
  position: relative;
}
.dropdown > ul .dropdown-right > a:before,
.dropdown > ul .dropdown-right > .button:before,
.dropdown > ul .dropdown-right > .button-primary:before,
.dropdown > ul .dropdown-right > .button-secondaryt:before,
.dropdown > ul .dropdown-right > .button-cancel:before {
  display: none;
}
.dropdown > ul .dropdown-right > a:after,
.dropdown > ul .dropdown-right > .button:after,
.dropdown > ul .dropdown-right > .button-primary:after,
.dropdown > ul .dropdown-right > .button-secondaryt:after,
.dropdown > ul .dropdown-right > .button-cancel:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d9";
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul .dropdown-right > ul {
  left: 100% !important;
}
.dropdown > ul .dropdown-right > ul .dropdown > a,
.dropdown > ul .dropdown-right > ul .dropdown > .button,
.dropdown > ul .dropdown-right > ul .dropdown > .button-primary,
.dropdown > ul .dropdown-right > ul .dropdown > .button-secondaryt,
.dropdown > ul .dropdown-right > ul .dropdown > .button-cancel {
  position: relative;
}
.dropdown > ul .dropdown-right > ul .dropdown > a:before,
.dropdown > ul .dropdown-right > ul .dropdown > .button:before,
.dropdown > ul .dropdown-right > ul .dropdown > .button-primary:before,
.dropdown > ul .dropdown-right > ul .dropdown > .button-secondaryt:before,
.dropdown > ul .dropdown-right > ul .dropdown > .button-cancel:before {
  display: none;
}
.dropdown > ul .dropdown-right > ul .dropdown > a:after,
.dropdown > ul .dropdown-right > ul .dropdown > .button:after,
.dropdown > ul .dropdown-right > ul .dropdown > .button-primary:after,
.dropdown > ul .dropdown-right > ul .dropdown > .button-secondaryt:after,
.dropdown > ul .dropdown-right > ul .dropdown > .button-cancel:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f0d9";
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.dropdown > ul .dropdown-right > ul .dropdown > ul {
  left: 100% !important;
}
.dropdown.active > ul {
  opacity: 1;
  display: block;
  top: 100%;
}
.dropdown ul {
  width: 200px;
}
.button-group {
  margin-right: 20px;
  float: left;
}
.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group > .button,
.button-group > .dropdown,
.button-group > .button-group,
.button-group > .button-primary,
.button-group > .button-secondary,
.button-group > .button-cancel {
  float: left;
  margin: 0 5px;
}
.button-group-join {
  float: left;
  margin-right: 20px;
}
.button-group-join:before,
.button-group-join:after {
  content: " ";
  display: table;
}
.button-group-join:after {
  clear: both;
}
.button-group-join > .button,
.button-group-join > .dropdown,
.button-group-join > .button-group,
.button-group-join > .button-primary,
.button-group-join > .button-secondary,
.button-group-join > .button-cancel {
  float: left;
  border-radius: 0;
}
.button-group-join > .button:first-child,
.button-group-join > .dropdown:first-child,
.button-group-join > .button-group:first-child,
.button-group-join > .button-primary:first-child,
.button-group-join > .button-secondary:first-child,
.button-group-join > .button-cancel:first-child {
  border-radius: 3px 0 0 3px;
}
.button-group-join > .button:first-child > .button,
.button-group-join > .dropdown:first-child > .button,
.button-group-join > .button-group:first-child > .button,
.button-group-join > .button-primary:first-child > .button,
.button-group-join > .button-secondary:first-child > .button,
.button-group-join > .button-cancel:first-child > .button,
.button-group-join > .button:first-child > .button-primary,
.button-group-join > .dropdown:first-child > .button-primary,
.button-group-join > .button-group:first-child > .button-primary,
.button-group-join > .button-primary:first-child > .button-primary,
.button-group-join > .button-secondary:first-child > .button-primary,
.button-group-join > .button-cancel:first-child > .button-primary,
.button-group-join > .button:first-child > .button-secondary,
.button-group-join > .dropdown:first-child > .button-secondary,
.button-group-join > .button-group:first-child > .button-secondary,
.button-group-join > .button-primary:first-child > .button-secondary,
.button-group-join > .button-secondary:first-child > .button-secondary,
.button-group-join > .button-cancel:first-child > .button-secondary,
.button-group-join > .button:first-child > .button-cancel,
.button-group-join > .dropdown:first-child > .button-cancel,
.button-group-join > .button-group:first-child > .button-cancel,
.button-group-join > .button-primary:first-child > .button-cancel,
.button-group-join > .button-secondary:first-child > .button-cancel,
.button-group-join > .button-cancel:first-child > .button-cancel {
  border-radius: 3px 0 0 3px;
}
.button-group-join > .button:last-child,
.button-group-join > .dropdown:last-child,
.button-group-join > .button-group:last-child,
.button-group-join > .button-primary:last-child,
.button-group-join > .button-secondary:last-child,
.button-group-join > .button-cancel:last-child {
  border-radius: 0 3px 3px 0;
}
.button-group-join > .button:last-child > .button,
.button-group-join > .dropdown:last-child > .button,
.button-group-join > .button-group:last-child > .button,
.button-group-join > .button-primary:last-child > .button,
.button-group-join > .button-secondary:last-child > .button,
.button-group-join > .button-cancel:last-child > .button,
.button-group-join > .button:last-child > .button-primary,
.button-group-join > .dropdown:last-child > .button-primary,
.button-group-join > .button-group:last-child > .button-primary,
.button-group-join > .button-primary:last-child > .button-primary,
.button-group-join > .button-secondary:last-child > .button-primary,
.button-group-join > .button-cancel:last-child > .button-primary,
.button-group-join > .button:last-child > .button-secondary,
.button-group-join > .dropdown:last-child > .button-secondary,
.button-group-join > .button-group:last-child > .button-secondary,
.button-group-join > .button-primary:last-child > .button-secondary,
.button-group-join > .button-secondary:last-child > .button-secondary,
.button-group-join > .button-cancel:last-child > .button-secondary,
.button-group-join > .button:last-child > .button-cancel,
.button-group-join > .dropdown:last-child > .button-cancel,
.button-group-join > .button-group:last-child > .button-cancel,
.button-group-join > .button-primary:last-child > .button-cancel,
.button-group-join > .button-secondary:last-child > .button-cancel,
.button-group-join > .button-cancel:last-child > .button-cancel {
  border-radius: 0 3px 3px 0;
}
.button-group-join > .dropdown > .button,
.button-group-join > .dropdown > .button-primary,
.button-group-join > .dropdown > .button-secondary,
.button-group-join > .dropdown > .button-cancel {
  borer-radius: 0;
}
.toolbar {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.toolbar:before,
.toolbar:after {
  content: " ";
  display: table;
}
.toolbar:after {
  clear: both;
}
.toolbar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.toolbar > li a {
  display: block;
}
.toolbar > li {
  float: left;
}
.toolbar > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.toolbar > li a:hover {
  color: #fff;
}
.toolbar:before,
.toolbar:after {
  content: " ";
  display: table;
}
.toolbar:after {
  clear: both;
}
.toolbar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.toolbar > li a {
  display: block;
}
.toolbar > li {
  float: left;
}
.toolbar > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.toolbar > li a:hover {
  color: #fff;
}
.toolbar > li a {
  color: #666;
  font-size: 14px;
}
.toolbar > li a:hover {
  color: #fff;
}
.toolbar > .divider {
  border-left: 1px solid #ddd;
  margin: 0 0;
  height: 34px;
}
.toolbar > .dropdown {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.toolbar > .dropdown + .dropdown {
  border-left: none;
}
.menubar {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menubar:before,
.menubar:after {
  content: " ";
  display: table;
}
.menubar:after {
  clear: both;
}
.menubar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menubar > li a {
  display: block;
}
.menubar > li {
  float: left;
}
.menubar > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.menubar > li a:hover {
  color: #fff;
}
.menubar:before,
.menubar:after {
  content: " ";
  display: table;
}
.menubar:after {
  clear: both;
}
.menubar > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menubar > li a {
  display: block;
}
.menubar > li {
  float: left;
}
.menubar > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.menubar > li a:hover {
  color: #fff;
}
.menubar > .dropdown.active > a {
  background: #009fe3;
  color: #fff;
}
.menubar > .dropdown a:after {
  display: none;
}
.inline-nav {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.inline-nav:before,
.inline-nav:after {
  content: " ";
  display: table;
}
.inline-nav:after {
  clear: both;
}
.inline-nav > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.inline-nav > li a {
  display: block;
}
.inline-nav > li {
  float: left;
}
.inline-nav > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.inline-nav > li a:hover {
  color: #fff;
}
.bread-crumb {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.bread-crumb:before,
.bread-crumb:after {
  content: " ";
  display: table;
}
.bread-crumb:after {
  clear: both;
}
.bread-crumb > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.bread-crumb > li a {
  display: block;
}
.bread-crumb > li {
  float: left;
}
.bread-crumb > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.bread-crumb > li a:hover {
  color: #fff;
}
.bread-crumb:before,
.bread-crumb:after {
  content: " ";
  display: table;
}
.bread-crumb:after {
  clear: both;
}
.bread-crumb > li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.bread-crumb > li a {
  display: block;
}
.bread-crumb > li {
  float: left;
}
.bread-crumb > li a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  color: #666;
}
.bread-crumb > li a:hover {
  color: #fff;
}
.bread-crumb li a {
  padding: 5px 0;
  margin-left: 10px;
}
.bread-crumb li a:before {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 10px;
}
.bread-crumb li a:hover {
  background: transparent;
  color: #009fe3;
  text-decoration: underline;
}
.bread-crumb li a:hover:before {
  color: #666;
}
.bread-crumb li:first-child a:before {
  display: none;
}
.loading-spinner {
  text-align: center;
}
.loading-spinner span {
  display: block;
  -webkit-animation: spin-animation linear infinite 1s;
  -moz-animation: spin-animation linear infinite 1s;
}
.loading-spinner span i {
  font-size: 64px;
}
.loading-spinner h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}
.loading-bar-wrapper {
  width: 100%;
  height: 5px;
  overflow: hidden;
}
.loading-bar-wrapper .loading-bar {
  width: 20%;
  height: 5px;
  background: #009fe3;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
