/*========================================//
	BUTTON STYLES
//========================================*/

@buttonDefaultColour: #f8f8f8;
@buttonDefaultColourHover: darken(@buttonDefaultColour, 5%);

@buttonPrimaryColour: @base;
@buttonPrimaryColourHover: lighten(@buttonPrimaryColour, 10%);

@buttonSecondaryColour: #88C425;
@buttonSecondaryColourHover: lighten(@buttonSecondaryColour, 20%);

@buttonCancelColour: #DF151A;
@buttonCancelColourHover: lighten(@buttonCancelColour, 20%);

.button-base() { // A button building block mixin that simply makes a button
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	margin: 0 0 0 0;
	border:1px solid transparent;
	border-radius: 3px;
}

.button() {
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	margin: 0 0 0 0;
	border:1px solid #ddd;
	color: #666;
	background: @buttonDefaultColour;
	-webkit-appearance: none;
	font-weight: normal;
	font-family: @baseFontFamily;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background: @buttonDefaultColourHover;
		border: 1px solid @buttonDefaultColourHover;
		color: #444;
		border: 1px solid darken(#ddd, 5%);
	}

	&:visited {
		color: #666;
	}

	i {
		line-height: 1.5em;
	}
}

.button-primary() {
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	margin: 0 0 0 0;
	border:1px solid @buttonPrimaryColour;
	color: #fff;
	background: @buttonPrimaryColour;
	-webkit-appearance: none;
	font-weight: normal;
	font-family: @baseFontFamily;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background: @buttonPrimaryColourHover;
		border: 1px solid @buttonPrimaryColourHover;
	}

	&:visited {
		color: #fff;
	}

	i {
		line-height: 1.5em;
	}
}

.button-secondary() {
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	margin: 0 0 0 0;
	border:1px solid @buttonSecondaryColour;
	color: #fff;
	background: @buttonSecondaryColour;
	-webkit-appearance: none;
	font-weight: normal;
	font-family: @baseFontFamily;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background: @buttonSecondaryColourHover;
		border: 1px solid @buttonSecondaryColourHover;
	}

	&:visited {
		color: #fff;
	}

	i {
		line-height: 1.5em;
	}
}

.button-cancel() {
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	margin: 0 0 0 0;
	border:1px solid @buttonCancelColour;
	color: #fff;
	background: @buttonCancelColour;
	-webkit-appearance: none;
	font-weight: normal;
	font-family: @baseFontFamily;
	cursor: pointer;
	border-radius: 3px;

	&:hover {
		background: @buttonCancelColourHover;
		border: 1px solid @buttonCancelColourHover;
	}

	&:visited {
		color: #fff;
	}

	i {
		line-height: 1.5em;
	}
}

.button-small() {
	font-size: @baseFontSize - 4;
	padding: @gutter;
}

.button-normal { //normal size
	font-size: @baseFontSize;
	padding: @gutter @gutter*2;
}

.button-large { //large Size
	font-size: @baseFontSize + 4;
	padding: @gutter @gutter*2;
}

.button-width(@cols) {
	display: block;
	float: left;
	.columns(@cols);
}

.button-group-join() {
	.clearfix();
	> .button, > .dropdown, > .button-group, > .button-primary, > .button-secondary, > .button-cancel {
		float: left;
		border-radius: 0;

		&:first-child {
			border-radius: 3px 0 0 3px;

			> .button, > .button-primary, > .button-secondary, > .button-cancel {
				border-radius: 3px 0 0 3px;
			}
		}

		&:last-child {
			border-radius: 0 3px 3px 0;

			> .button, > .button-primary, > .button-secondary, > .button-cancel {
				border-radius: 0 3px 3px 0;
			}
		}
	}

	> .dropdown {
		> .button, > .button-primary, > .button-secondary, > .button-cancel {
			borer-radius: 0;
		}
	}
}

.button-group() {
	.clearfix();

	> .button, > .dropdown, > .button-group, > .button-primary, > .button-secondary, > .button-cancel {
		float:left;
		margin: 0 @gutter/2;
	}
}