/*========================================//
	NAVIGATION STYLES
//========================================*/

.nav() {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	.clearfix();

	> li {
		list-style-type: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;

		a {
			display: block;
		}
	}
}


.inline-nav() {
	.nav();	
	 > li {
		float:left;
		a {
			padding: @gutter/2 @gutter;
			.border-box();
			font-weight: 300;
			color: #666;

			&:hover {
				color: #fff;
			}
		}
	}
}

.block-nav() {
	.nav();
	> li {

		a {
			padding: @gutter;
			.border-box();
		}
	}
}

.nav-bar() {
	.inline-nav();
	background: #eee;
	> li {

		a {
			text-align: center;
			color: #666;
			padding: @gutter @gutter*2;

			&:hover {
				color: #fff;
			}
		}
	}
}

.nav-tabs() {
	.inline-nav();
	border-bottom: 1px solid #ccc;
	.button-dropdown {
		top:1px;
		ul {
			.columns(24);
		}
	}
	> li {
		border: 1px solid transparent;
		border-bottom: 1px solid #ccc;
		margin: 0 3px;
		position: relative;
		top: 2px;

		a {
			padding: @gutter @gutter*2;
		}

		&.active {
			color: #666;
			border: 1px solid #ccc;
			border-bottom: 1px solid #fff;
		}
	}
}

.menu-block(@cols: 12) {
	.block-nav();
	.columns(@cols);
	background: #eee;

	> li {
		a {
			color: #666;

			&:hover {
				color: #fff;
			}
		}
	}
}

.toolbar() {
	.inline-nav();
	background: #f8f8f8;
  	border-top: 1px solid #ddd;
  	border-bottom: 1px solid #ddd;

  	> li {
  		a {
			color: #666;
			font-size: 14px;

	      	&:hover {
	        	color: #fff;
	      	}
  		}
  	}

  	> .divider {
    border-left: 1px solid #ddd;
    margin: 0 @gutter/2;
    height: 34px;
  }
}

.select-dropdown() {
	position: relative;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: 0 @gutter/2;
	> a {
		&:after {
			display: inline-block;
      		font-family: FontAwesome;
      		content:"\f0d7";
      		margin-left: @gutter*2;
      		color: #999;
      		.transition();
		}

		&:hover {
			&:after {
				color: #fff;
			}
		}
	}
}

.top-bar() {
	  width: 100%;
	  height: 42px;
	  background: #009FE3;
	
	a.menu {
	  display: block;
	  width: 24px;
	  height: 24px;
	  padding: 9px;
	  color: white;
	  font-size: 24px;
	  cursor: pointer;

	  &:hover {
	  	background: rgba(0,0,0,0.1);
	  }
	}
	
	input[type=search] {
	  height: 24px;
	  width: 550px;
	  position: absolute;
	  top: 9px;
	  left: 51px;
	  border: 0;
	  border-radius: 2px;
	  padding: 1px;
	  font-weight: 300;
	  font-size: 14px;

	  &:focus {
	  	border: 0;
	  }
	}
}

.filter-area {
	display: none;
}

.filter-bar() {
	background: #e8e8e8;
	.columns(12);
	height: 50px;
	border-bottom: 1px solid #ddd;
}

.filters() {
	background: #ddd;
	.columns(12);
	height: 0;
	overflow:hidden;
}

.filter-group() {
	.columns(2.4);
	margin: 0 0 0 0;

	h4 {
		font-size: 22px;
		margin-bottom: 5px;
		color: #666;
		padding-left:@gutter;
	}

	li {
		list-style-type: none;
		line-height: 1.5em;
		margin: @gutter 0;
		.clearfix();

		a {
			padding: @gutter/2 @gutter;
			color: #666;
			float:left;
			background: #f8f8f8;
			line-height: 1.5em;
		}

		span {
				float:left;
				margin: 0 0 0 0;
				padding: @gutter/2 @gutter;
				background: #999;
				color: #fff;

				i {
					font-size: 12px;
					-webkit-transform: rotate(45deg);
				}
			}

		&.type {
			span {
				background: @dark;
			}
		}

		&.day {
			span {
				background:#F27435;
			}
		}

		&.month {
			span {
				background:#680148;
			}
		}

		&.year {
			span {
				background:#F54828;
			}
		}
		&.client {
			span {
				background:#79BD9A;
			}
		}
	}
}